---
title: Release Notes for AppDynamics Application Analytics for PCF Tile
owner: Partners
---
## <a id='45545'></a> 4.5.624

**Release Date:** April 22, 2019

- Maintenance Release
- Upgraded tile to use Ubuntu Xenial Stemcells

## <a id='45545'></a> 4.5.545

**Release Date:** December 13, 2018

- AppDynamics Application Analytics Support
