---
title: Release Notes for AppDynamics Application Analytics for PCF Tile
owner: Partners
---
## <a id='45545'></a> 4.5.545

**Release Date:** December 13, 2018

- AppDynamics Transaction Analytics Support
