---
title: Release Notes for AppDynamics Application Analytics for VMware Tanzu Tile
owner: Partners
---
## <a id='47661'></a> 4.7.661

**Release Date:** July 02, 2020

- Maintenance Release
- Added configuration for adjusting heap size for JVM
- Fixed configuration to take in account information

## <a id='47652'></a> 4.7.652

**Release Date:** June 30, 2019

- Maintenance Release
- Updated cf-cli

## <a id='45545'></a> 4.5.624

**Release Date:** April 22, 2019

- Maintenance Release
- Upgraded tile to use Ubuntu Xenial Stemcells

## <a id='45545'></a> 4.5.545

**Release Date:** December 13, 2018

- AppDynamics Application Analytics Support
