---
title: Release Notes for AppDynamics Application Analytics for VMware Tanzu Tile
owner: Partners
---

<p class="note"><strong>Note:</strong> This tile is planned to be deprecated, We suggest using Appdynamics Agentless analytics, which does not need appdynamics agent installed via AppDynamics analytics tile.  See <a href=".https://docs.appdynamics.com/display/PRO45/Deploy+Analytics+Without+the+Analytics+Agent">Deploying Analytics without the Analytics agent</a> for further details</p>


## <a id='47661'></a> 4.7.661

**Release Date:** July 03, 2020

- Maintenance Release
- Added configuration for adjusting heap size for JVM
- Fixed configuration to take in account information
- Note on upgrades
  * If scripts are used to install the tile, the properties appd_analytics_access_secret and appd_analytics_global_account_secret
  have been renamed back to appd_analytics_access_key (string type) and appd_analytics_global_account (string type) respectively.
  Please update the scripts accordingly
  * If using opsmanager UI to install the tile, no changes are needed. 

## <a id='47652'></a> 4.7.652

**Release Date:** June 30, 2019

- Maintenance Release
- Updated cf-cli

## <a id='45545'></a> 4.5.624

**Release Date:** April 22, 2019

- Maintenance Release
- Upgraded tile to use Ubuntu Xenial Stemcells

## <a id='45545'></a> 4.5.545

**Release Date:** December 13, 2018

- AppDynamics Application Analytics Support
