---
title: Release Notes for AppDynamics Applicaiton Analytics for Pivotal CloudFoundy Tile
owner: Partners
---
## <a id='45545'></a> 4.5.545

**Release Date:** December 10, 2018

- AppDynamics Transaction Analytics Support
